@import url('https://fonts.googleapis.com/css2?family=Karla:wght@100;400;700&display=swap');

:root {
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --Cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
p,
button {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Karla', sans-serif;

}

#container {
    max-width: 950px;
    height: 700px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "join join"
        "price why";
}


.join-us {
    grid-area: join;
    background-color: white;
    padding: 45px;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join-us h1 {
    color: var(--Cyan);
    font-weight: 700;
    padding-bottom: 24px;
}

.join-us h2 {
    color: var(--Bright-Yellow);
    padding-bottom: 24px;
}

.join-us p {
    color: var(--Grayish-Blue);
    font-size: 20px;
    padding-bottom: 16px;
    line-height: 24px;
}

.price {
    background-color: darkcyan;
    grid-area: price;
    color: var(--Light-Gray);
    border-radius: 0 0 0 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 45px;
}

.price .pricetitle {
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 16px;
}

.price .price-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}

.price .price-container h2 {
    font-size: 32px;
    padding-right: 16px;
}

.price-container span {
    color: hsla(218, 52%, 84%, 0.548);
}

.price p {
    padding-bottom: 24px;
    font-weight: 100;
    font-size: 20px;
}

.price button {
    background-color: var(--Bright-Yellow);
    border: none;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-size: 20px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.247));
}

.why-us {
    background-color: var(--Cyan);
    grid-area: why;
    color: var(--Light-Gray);
    padding: 45px 100px 45px 45px;
    border-radius: 0 0 16px 0;
    width: 100%;
    height: 100%;
}

.why-us h2 {
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
}

.why-us p {
    padding-bottom: 5px;
    font-weight: 100;
}

footer {
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 10px;

}

@media (max-width: 767px) {
    body {
        margin-top: 32px;
        height: fit-content;
    }

    #container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin-bottom: 50px;
        height: 100%;
    }

    .join-us{
        padding: 24px 20px;
        border-radius: 8px 8px 0 0;
    }

    .join-us h1{
        font-size: 20px;
    }

    .join-us h2{
        font-size: 16px;
    }

    .join-us p{
        font-size: 14px;

    }

    .price{
        padding: 24px 20px;
        border-radius: 0 0 0 0;
    }

    .why-us{
        padding: 24px 20px;
        border-radius: 0 0 8px 8px;
    }

}